<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="112"
    android:versionName="5.4.5"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    android:requiredSplitTypes="base__density"
    android:splitTypes=""
    package="com.m_myr.nuwm.nuwmschedule"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="34"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER"/>
        </intent>
    </queries>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission
        android:name="com.m_myr.nuwm.nuwmschedule.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.m_myr.nuwm.nuwmschedule.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme.White"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.m_myr.nuwm.nuwmschedule.domain.App"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.academicSuccess.AcademicSuccessActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.googleAuth.GoogleAuth"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.news.NewsViewInstant"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.marks.MyMarksActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.statistic.statisticEvaluation.StatisticEvaluationActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.statistic.instituteStatistic.StatisticInstituteEvaluationActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.semestrEvaluation.SemesterEvaluationActivity"/>
        <activity
            android:theme="@style/Theme.MaterialComponents.Bridge"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.notesList.MyNotesListActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.intro.IntroActivity"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.sendPush.SendPushActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:theme="@style/AppTheme.White"
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.notes.MyNotesActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.about.AboutActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.groupMarks.GroupMarksActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.individuaCurriculum.IndividualCurriculumActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.simpleScreen.DeskInfoActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.simpleScreen.StudentsListActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.signout.SignoutActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.worload.WorkloadActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.simpleScreen.TeacherGroupActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.worload.WorkloadSubjectActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.teacherGroups.MyGroupsActivity"/>
        <activity
            android:theme="@style/zxing_CaptureTheme"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.repository.RepositoryItemActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="ep3.nuwm.edu.ua"/>
                <data
                    android:scheme="https"
                    android:host="ep3.nuwm.edu.ua"/>
            </intent-filter>
        </activity>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.simpleScreen.AttendeesListActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.DeveloperActivity"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.user.UserProfileActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.repositoryPeople.UserRepositoryActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.timetable.GeneralTimetableActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.stream.StreamProfileActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.groups.GroupsProfileActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.department.DepartmentProfileActivity"
            android:configChanges="screenSize|orientation"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.students.StudentProfileActivity"/>
        <activity
            android:theme="@style/AppTheme.Preference"
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.settings.AppSettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="app.nuwm"
                    android:host="app.com"
                    android:pathPrefix="/settings"/>
            </intent-filter>
        </activity>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.lastMarks.LastMarksActivity"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.helpdesk.HelpdeskActivity"
            android:parentActivityName="com.m_myr.nuwm.nuwmschedule.ui.activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.main.MainActivity"/>
        </activity>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.abit.AbitCalcActivity"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.helpdesk.tisket.TicketActivity"
            android:parentActivityName="com.m_myr.nuwm.nuwmschedule.ui.activities.helpdesk.HelpdeskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.helpdesk.HelpdeskActivity"/>
        </activity>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.imageview.ImageViewActivity"/>
        <activity
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.helpdesk.createTicket.CreateTicketActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.semestrEvaluation.details.SemestrEvaluationDetails"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.helpdesk.heskRegister.HeskRegisterActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.room.RoomActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.utils.CrashScreen"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.framents.lesson.LessonActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.framents.event.EventActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.teacherElevat.myGroupsElevat.MyGroupsEvaluation"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.qrScaner.QrCodeScannerActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.Dark.NoActionBar.FullScreen"
            android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.qrScaner.CodeViewActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.framents.contetnFeed.FeedActivity"/>
        <activity android:name="com.m_myr.nuwm.nuwmschedule.ui.activities.NotificationIntroActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
        <service
            android:name="com.m_myr.nuwm.nuwmschedule.domain.services.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="nuwmschedule.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.m_myr.nuwm.nuwmschedule.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.m_myr.nuwm.nuwmschedule.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3"/>
    </application>
</manifest>
